html {
  font-size: 15px;
  font-family:  'MaisonNeue-Mono', mono;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

li {
  list-style: none;
}
